<%- include('parts/top') %>
<%- include('parts/nav') %>

<div class = "container  h-100hv mt-4 p-3 shadow p-3 mb-5 bg-body-tertiary rounded text-center">
    <p class="alert alert-danger">Error!</p>

</div>
<%- include('parts/bot') %>